doctype html
html
  head
    title Random
    block scripts
    block style

  body
    nav#navbar.top 
      ul
        div#logo
          img(src="/static/logo.png", alt="")
          | RKT  
        li #[a(href ="/DanceWebsite/home.pug") Home]
        li #[a(href ="/DanceWebsite/home.pug") About]
        li #[a(href ="/DanceWebsite/home.pug") Services]
        li #[a(href ="/DanceWebsite/contact.pug") Contact  ]
        li #[a(href ="/DanceWebsite/home.pug") More ]
    block content
    footer#footer 
      | Copyright 2021 RandomWebsite.com 
